/*@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|PT+Serif:400,700,400italic');
*/

:root {

  /*--media-height: 100vh;
  --media-width: 100vw;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1440px;
  --breakpoint-xxxl: 1800px;*/

  --color-black: #000;
  --color-dark-grey: #111;
  --color-grey: #888;
  --color-white: #eee;
  --color-ecc: #caa87a;

  /*--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;*/

  --tds-line_height--large: 36px;

/*  --asset-order: -1;
  --callouts-width: 100%;
  --mobile-callouts-width: 33%;
  --cmp-callout-item: 1;
  --cmp-callouts-transition-delay: .2s;
  --cmp-speedometer-scale: .75;
  --cmp-speedometer-duration: 1.733s;
  --cmp-speedometer-time-increment: 0;
  --cmp-speedometer-transition-property: transform;
  --cmp-speedometer-transition-timing-function: cubic-bezier(.77,0,.175,1);
  --cmp-speedometer-numbers-transition-timing-function: cubic-bezier(1,0,0,1);
  --cmp-speedometer-numbers-height-desktop: 390px;
  --cmp-speedometer-numbers-height-mobile: 310px;
  --cmp-speedometer-number-offset-desktop: -39px;
  --cmp-speedometer-number-offset-mobile: -31px;
  --cmp-transition-duration--short: .5s;
  --cmp-transition-property: opacity;
  --cmp-transition-timing-function: cubic-bezier(.23,1,.32,1);
  --cmp-speedometer-integer-translation: -20%;
  --cmp-speedometer-fractional-translation: -29%;*/

  --cmp-speedometer-scale: .75;
}

@media (min-width: 768px) {
  :root {
    --cmp-speedometer-scale: .9;

  }
}

@media (min-width: 992px) {
  :root {
    --cmp-speedometer-scale: .9;
    
  }
}

@media (min-width: 1200px) {
  :root {
    --cmp-speedometer-scale: .9;
    
  }
}

@media (min-width: 1800px) {
  :root {
    --cmp-speedometer-scale: 1;
    
  }
}


@font-face {
  font-family: 'fontello';
  src: url('/exoticcarclub/css/font/fontello.eot?68032340');
  src: url('/exoticcarclub/css/font/fontello.eot?68032340#iefix') format('embedded-opentype'),
       url('/exoticcarclub/css/font/fontello.woff2?68032340') format('woff2'),
       url('/exoticcarclub/css/font/fontello.woff?68032340') format('woff'),
       url('/exoticcarclub/css/font/fontello.ttf?68032340') format('truetype'),
       url('/exoticcarclub/css/font/fontello.svg?68032340#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?68032340#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  font-size: 150%;
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mobile:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */

/*
My version of:
- A Modern CSS Reset - https://dev.to/hankchizljaw/a-modern-css-reset-6p3
- normalize.css - https://necolas.github.io/normalize.css/8.0.1/normalize.css
- Bootstrap resets
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core html defaults */
html {
  font-size: 75%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 112.5%;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 125%;
  }
}

/* Set core body defaults */
body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-family: "Montserrat",sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-white);
  text-align: left;
  background-color: var(--color-black);
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}
/*
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}
*/

/* Render the `main` element consistently in IE. */
main {
  display: block;
}

/* Remove default padding */
/*ul[class],
ol[class] {
  padding: 0;
}*/

/* Remove default margin */
/*ul[class], ol[class], */
body, h1, h2, h3, h4, h5, h6, p, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class], ol[class] {
  list-style: none;
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}

a:link,
a:visited {
  color: var(--color-white);
}

a:focus,
a:hover,
a:active {
  color: var(--color-ecc);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  border-style: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Add the correct font weight in Chrome, Edge, and Safari. */
b, strong {
  font-weight: bolder;
}

/* Add the correct font size in all browsers. */
small {
  font-size: 80%;
}

/* 1. Add the correct box sizing in Firefox.
   2. Show the overflow in Edge and IE. */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Add the correct display in IE 10. */
[hidden] {
  display: none !important;
}

/* Style header fonts */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 3rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

/* Style lead font */
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}


/********************************/
/*                              */
/*    EXOTIC CAR CLUB STYLES    */
/*                              */
/********************************/

body {

}
p {
  margin-bottom: 1rem;
}
footer li {
  margin-bottom: .5rem;
}

a, a.lead {
  font-weight: 600;
}

.link,
footer ul:not(.social) a,
address a {
  position: relative;
}

.link:after,
footer ul:not(.social) a:after,
address a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 0px;
  right: 0;
  background: var(--color-ecc);
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
 
.link:hover:after,
footer ul:not(.social) a:hover:after,
address a:hover:after {
  width: 100%;
  left: 0;
  background: var(--color-ecc);
}


.barba-container {
  position: relative;
}

.fullpage-wrapper {
 /* margin-right: -15px;
  margin-left: -15px;*/
}
/*
header {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

header h1 {
  position: absolute;
  width: 90%;
  text-align: center;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
}*/


/********************************/
/*          NAVIGATION          */
/********************************/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-size: 1rem;
  background-color: var(--color-black);
  padding: 10px;
  z-index: 101;
}

.navbar__bg {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 100;
}

@media (min-width: 768px) {
  .navbar {
    height: 75px;
    background-color: transparent;
  }
  .navbar__bg {
    height: 75px;
  }
}

/* Navbar logo */

.navbar__logo {
  position: relative;
  display: flex;
  margin-left: 1rem;
}

.navbar__logo svg {
  width: 220px;
  height: 36px;
}
@media (min-width: 576px) {
  .navbar__logo svg {
    width: 300px;
    height: 36px;
  }
}
@media (min-width: 768px) {
  .navbar__logo svg {
    width: 352px;
    height: 42px;
  }
}

/* Navbar toggler / hamburger */

.navbar__toggler {
  position: relative;
  display: inline-flex;
  align-items: center;
  outline: 0;
  background-color: transparent;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
  z-index: 104;
}

.navbar__hamburger {
  height: 30px;
  width: 35px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
}

.navbar__hamburger span {
  height: 3px;
  width: 35px;
  background-color: var(--color-ecc);
  display: flex;
  justify-content: flex-end;
  position: relative;
  transition: all ease .3s;
}

.navbar__toggler:hover .navbar__hamburger span {
  background-color: var(--color-white);
}

.navbar__hamburger > span:nth-child(3) {
  width: 25px;
}

.navbar__hamburger > span:nth-child(2) {
  margin-top: 6px;
  margin-bottom: 6px;
  width: 30px;
}

/* Navbar toggler / hamburger - active states */

.navbar__toggler.active .navbar__hamburger > span:not(:nth-child(2)) {
  position: absolute;
}

.navbar__toggler.active .navbar__hamburger > span:nth-child(1) {
  transform: rotate(45deg);
}

.navbar__toggler.active .navbar__hamburger > span:nth-child(3) {
  width: 35px;
  transform: rotate(-45deg);
}

.navbar__toggler.active .navbar__hamburger > span:nth-child(2) {
  opacity: 0;
}

/* Navbar overlay */

.nav {
  position: fixed;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 101;
}

.nav__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background-color: transparent;
  border-left: 0vw solid transparent;
  border-top: 100vh solid var(--color-black);
  transform: translateX(100vw);
  z-index: 102;
}
@media (min-width: 768px) {
  .nav__bg {
    width: 50vw;
  }
}

.nav__bg--ecc {
  border-top: 100vh solid var(--color-ecc);
  width: 41vw;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  z-index: 102;
}

/* Navigation items */

.nav__list {
  position: absolute;
  display: block;
  user-select: none;
  text-align: right;
  z-index: 103;
}
@media (max-height: 416px) {
  .nav__list {
    padding-top: 60px;
  }
}

.nav__item {
  margin: 1rem 2rem;
}
@media (max-height: 416px) {
  .nav__item {
    margin: 0.5rem 2rem;
  }
}

.nav__item > a {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, var(--color-white), var(--color-white) 50%, rgba(255, 255, 255, 0.5) 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition-property: background-position;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.84, 0, 0.08, 0.99);
}
@media (max-height: 376px) {
  .nav__item > a {
    font-size: 1.67rem;
  }
}

.nav__item > a:hover {
  background-position: 0%;
}


/********************************/
/*            FOOTER            */
/********************************/

.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--color-grey);
  padding: 3rem 0;
}
.footer__wrapper > div {
  flex: 1 1 auto;
  padding: 1rem;
}
.footer__wrapper a:link,
.footer__wrapper a:visited {
  color: var(--color-grey);  
}
.footer__wrapper a:focus,
.footer__wrapper a:hover,
.footer__wrapper a:active {
  color: var(--color-ecc);
}
.footer__logo {
  height: 100px;
  margin: auto;
}
.footer__wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.social {
  margin-top: 30px;
}
.social > li {
  display: inline-block;
}
.footer__copyright {
  color: var(--color-grey);
  text-align: center;
  padding-bottom: 2rem;
}

@media (max-width: 767px) {
  .footer__wrapper > div:nth-child(3),
  .footer__wrapper > div:nth-child(4) {
    display: none;
  }
}
@media (min-width: 992px) {
  .footer__logo {
    height: 140px;
  }
}
@media (min-width: 1200px) {
  .footer__wrapper {
    padding: 3rem 10%;
  }
}


/********************************/
/*            HOME              */
/********************************/

.hero__inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.home__inner {
  position: relative;
}

.hero__inner,
.home__inner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__inner > .home__inner__btn {
  opacity: 0;
}

.home__inner__btn {
  position: relative;
  display: block;
  margin: auto;
  overflow: hidden;
}

.home__inner__btn > a {
  position: relative;
  display: block;
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 4rem;
  border: 3px solid var(--color-white);
  text-transform: uppercase;
  transition: .3s;
}

.home__inner__btn:before {
  content: '';
  position: absolute;
  top: 0;
  right: -3.5rem;
  bottom: 0;
  left: 0;
  border-right: 3.5rem solid transparent;
  border-bottom: 4.5rem solid var(--color-white);
  transform: translateX(-100%);
  transition: .4s cubic-bezier(0.19, 1, 0.22, 1);
}

.home__inner__btn:hover > a {
  color: var(--color-ecc);
}
 
.home__inner__btn:hover:before {
  transform: translateX(0);
}

.home__fleet {
  background: url(/exoticcarclub/img/exotic-car-club-fleet.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.home__offer {
  background: url(/exoticcarclub/img/exotic-car-club-offer.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.home__events {
  background: url(/exoticcarclub/img/exotic-car-club-events.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.home__about {
  background: url(/exoticcarclub/img/about-exotic-car-club.jpg) no-repeat 50% 50%;
  background-size: cover;
}


/********************************/
/*            FAQ               */
/********************************/

#faq {
  padding: 7rem 1rem 0;
}
#faq h1 {
  text-align: center;
}
.faq__tab > input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
/* Accordion styles */
.faq__accordion {
  margin-bottom: 2rem 1rem;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}
.faq__tab {
  width: 100%;
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
  overflow: hidden;
}
.faq__tab__label {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  font-weight: bold;
  cursor: pointer;
}
.faq__tab__label:hover {
  color: var(--color-ecc);
}
.faq__tab__label > * {
  flex: 1;
}
.faq__tab__label > .faq__arrow {
  flex: 0 0 50px;
  text-align: right;
}
/* Icon */
.faq__arrow::after {
  display: inline-block;
  content: "\276F";
  text-align: center;
  transform: rotate(90deg);
  transform-origin: center;
  transition: all .35s;
}
.faq__tab__content {
  max-height: 0;
  padding: 0 1rem;
  transition: all .35s;
}
/* Checked */
.faq__tab > input:checked + .faq__tab__label {
  color: var(--color-ecc);
}
.faq__tab > input:checked + .faq__tab__label > .faq__arrow::after {
  transform: rotate(270deg);
}
 
.faq__tab > input:checked ~ .faq__tab__content {
  max-height: 100vh;
  padding: 0 1rem 2rem;
}

@media (min-width: 768px) {
  #faq {
    padding: 7rem 5rem 0;
  }
  .faq__tab__label {
    padding: 2rem;
  }
  .faq__tab__content {
    padding: 0 2rem;
  }
  .faq__tab > input:checked ~ .faq__tab__content {
    padding: 0 2rem 2rem;
  }
}


#page-unavailable {
  padding: 10% 5% 5%;
}

/********************************/
/*            FLEET             */
/********************************/


.fleet {
  margin: 75px 15px;
}
.fleet__wrapper {
  display: none;
}
.fleet__list {
  display: none;
}

.fleet__mobile__list {
  padding: 0;
  text-align: center;
}
.fleet__mobile__item {
  width: 100%;
  border-bottom: 1px solid var(--color-ecc);
}
.fleet__mobile__link {
  display: block;
  padding: 40px 0;
}
.fleet__mobile__link > img {
  display: block;
  width: 290px;
  margin: 0 auto;
  padding-bottom: 15px;
}
.fleet__mobile__item__details {
  padding-bottom: 25px;
}

@media (min-width: 375px) {
  .fleet__mobile__link > img {
    width: 336px;
  }
}

@media (min-width: 768px) {
  .fleet {
    margin: 75px 50px 50px;
  }
  .fleet__mobile__link {
    padding: 40px;
  }
}

@media (min-width: 1200px) {
  .fleet {
    margin: 150px 15px 200px 100px;
    /*position: absolute;*/
  }
  .fleet__mobile__list {
    display: none;
  }
  .fleet__wrapper {
    display: block;
  }
  .fleet__list {
    display: block;
  }

  .fleet__item {
    margin: 100px 0;
  }

  .fleet__item > a {
    position: relative;
    user-select: none;
    font-size: 3rem;
    font-weight: 700;
    z-index: 1000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, var(--color-white), var(--color-white) 50%, rgba(255, 255, 255, 0.5) 50%);
    background-size: 200% 100%;
    background-position: 100%;
    transition-property: background-position;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.84, 0, 0.08, 0.99);
  }

  .fleet__item > a:hover {
    background-position: 0%;
  }

  .fleet__wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
  }

  .fleet__preview {
    position: fixed;
    top: 12%;
    left: 50%;
    width: 0;
    height: 400px;
    background: url(/exoticcarclub/img/ferrari-portofino/ferrari-portofino.jpg) no-repeat 50% 50%;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
  }
}





.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-ecc);
  z-index: -1;
}
/*
section {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
*/
.hero {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headline {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  font-size: 3rem;
  font-weight: 700;
  z-index: 3;
  text-shadow: 0 0 4px rgba(0, 0, 0, .72), 0 0 14px rgba(0, 0, 0, .45);
}

@media (min-width: 768px) {
  .headline {
    font-size: 4rem;
  }
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
  background: var(--color-ecc);
}





/*.fleet-vehicle {
  display: inline-block;
  position: relative;
  height: 45vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.fleet-vehicle:after, .fleet-vehicle:before {
    position: absolute;
    opacity: 1;
    transition: all 0.5s;
}
.fleet-vehicle:after {
    content: '\A';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}
.fleet-vehicle:before {
    content: attr(data-content);
    width: 100%;
    font-family: 'Open Sans', Arial;
    font-size: 4em;
    color: var(--color-black);
    bottom: 0;
    opacity: 1;
    z-index: 1;
    text-align: center;
    box-sizing: border-box;
}
.fleet-vehicle:hover:after, .fleet-vehicle:hover:before,
.fleet-vehicle:focus:after, .fleet-vehicle:focus:before,
.fleet-vehicle:active:after, .fleet-vehicle:active:before {
    opacity: 0;
}

.fleet-vehicle h1 {
  position: absolute;
  width: 90%;
  text-align: center;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
}*/

/*
p {
  margin: 15px auto;
  width: 90%;
  max-width: 600px;
  line-height: 1.7;
}*/

/*a.nav {
  font-family: 'Source Sans Pro', serif;
  display: block;
  position: fixed;
  text-decoration: none;
  top: 25vh;
  background: #555;
  color: #fff;
  padding: 10px;
  z-index: 99;
}

a.nav.next {
  right: 0;
}

a.nav.prev {
  left: 0;
}*/

/*
    SCREEN WIPE
    Used for transitions between fleet vehicles 
*/
.screen-wipe-back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: var(--color-ecc);
    transform:scaleX(0);
    z-index: 1000;
}
.screen-wipe-front {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: var(--color-dark-grey);
    transform:scaleX(0);
    z-index: 1001;
}
.screen-wipe-logo {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  opacity: 0;
  z-index: 1002;
}

.logo__color {
    fill: var(--color-ecc);
    transition: fill 0.3s;
}

.logo:hover .logo__color {
    fill: var(--color-white);
}


/*
    HERO
*/

/*.hero {
  min-height: var(--media-height);
  overflow: hidden;
  position: relative;
}*/

/*.vehicle__image img {*/
.hero__image {
  display: block;
  height: var(--media-height);
  max-height: var(--media-height);
  min-height: var(--media-height);
  max-width: none;
  object-fit: cover;
  width: 100%;
}

.hero__info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--color-white);
}

.hero__title {
  padding: 1rem;
  text-align: center;
  background-color: rgba(0,0,0,.35);
}

.hero__title h1 {
  font-weight: 700;
}

.hero__details {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(0,0,0,.35);
}

.hero__details__item {
  flex-basis: 175px;
  padding: .5rem;  
  border-left: 2px solid var(--color-white);
}
.hero__details__item:first-child {
  border-left: 0;
}

.hero__details__item span {
  display: block;
  font-size: 1.75rem;
  font-weight: 700;
}


.hero__arrow {
  text-align: center;
  background-color: rgba(0,0,0,.35);
  padding: .5rem;
}

.hero__arrow__down {
  border: solid var(--color-white);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  animation-name: arrow-keyframe--bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


.flex__section--1_3 {
  flex-basis: 34%;
}
.flex__section--2_3 {
  flex-basis: 66%;
}

@keyframes arrow-keyframe--bounce {
  0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0) rotate(45deg);
  }
  40% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px) rotate(45deg);
  }
  60% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px) rotate(45deg);
  }
}


@media (max-width: 767px) {
  .mobile__hidden {
    display: none !important;
  }
}

/*
    ACCELERATION = SPEEDOMETER + DIGITS
*/

.acceleration {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.acceleration__caption {
  grid-column: span 2;
  align-self: end;
}


/*
    SPEEDOMETER
*/

.acceleration__speedometer {
  justify-self: end;
  align-self: center;
  position: relative;
  height: 27px;
  margin-top: 7px;
  margin-right: 5px;
  transform: scale(var(--cmp-speedometer-scale));
  width: 44px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5NSIgaGVpZ2h0PSI1MSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNOTQuOTkyIDQ4LjExNGE0Ny4wNTEgNDcuMDUxIDAgMDAtMTIuMTU3LTMxLjU3OGwtMS42ODItMS44NzJDNjIuNzA5LTMuODg5IDMyLjY4LTQuMDEyIDE0LjA4NSAxNC4zOUE0Ny4yNTUgNDcuMjU1IDAgMDAuMDU3IDQ4LjE5N3YyLjc5Nmg5LjI3MXYtMi43OTZoLTMuNjRBNDEuNTEyIDQxLjUxMiAwIDAxMTYuMzYgMjAuNDIxbDIuODAzIDIuNTQyIDEuODQ3LTIuMDk2LTIuODAxLTIuNDg4QTQxLjcwMiA0MS43MDIgMCAwMTQ2LjIyMiA2LjQ3NXY1LjMzN2gyLjgwMlY2LjM2M2E0MS43NDYgNDEuNzQ2IDAgMDEyOC4wMTEgMTEuOTg5bC0yLjc5OSAyLjM3NSAxLjg0NyAyLjA5NiAyLjgwMS0yLjQzYTQxLjQ5OCA0MS40OTggMCAwMTEwLjU5IDI3LjY2NmgtMy43NTV2Mi43OTRoOS4yNzN2LTIuNzM5eiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-size: 100% auto;
  filter: invert(1);
}

/*
    SPEEDOMETER CIRCLE
*/

.acceleration__speedometer__circle {
  bottom: 3.5px;
  height: 15.5px;
  left: 7px;
  overflow: hidden;
  position: absolute;
  width: 30px;
}

/*
    SPEEDOMETER INNER CIRCLE
*/

.acceleration__speedometer__circle__inner {
  height: 15.5px;
  width: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: rgba(0,0,0,0.35);
  transform: translateZ(0) rotate(-180deg);
  transform-origin: 50% 95% 0;
}

/*
    SPEEDOMETER NEEDLE
*/

.acceleration__speedometer__needle {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIzOCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNOS42MTYgMzIuOTI5YzAgLjAzMy4wMDQuMDY1LjAwNC4wOThhNC4xNzIgNC4xNzIgMCAwMS0uNjI0IDIuMTI4IDQuMjcyIDQuMjcyIDAgMDEtLjkxOSAxLjEyM2MtLjcwNS42MDQtMS41NzguOTMtMi41NDguOTg1YTQuOTI1IDQuOTI1IDAgMDEtLjQ3My4wMTdjLS4wOTYtLjAwMS0uMTkxLS4wMTEtLjI4Ni0uMDE4YTQuNjMyIDQuNjMyIDAgMDEtMS4xMDctLjIxOCA0LjUyMyA0LjUyMyAwIDAxLTEuMDg0LS40ODcgNC4wNDggNC4wNDggMCAwMS0xLjcyLTIuMjM4IDQuMTU2IDQuMTU2IDAgMDEtLjIzMy0xLjQyN2MwLS4wMi4wMDMtLjA0LjAwNC0uMDYtLjAwMS0uMDYxLS4wMDgtLjExOS0uMDA2LS4xODEgMC0uMDM3LjAwMi0uMDczLjAwNi0uMTA5TDMuNzc3IDEuNTFDMy44NDguNzk3IDQuNDc0LjI1NSA1LjIyLjI1OGMuNzQ0LjAwMiAxLjM2OC41NTEgMS40MzcgMS4yNjVsMi45NjEgMzEuMTU1Yy4wMDYuMDUyLjAwNi4xMDQuMDA1LjE1NS0uMDAxLjAzMy0uMDA2LjA2NC0uMDA3LjA5NnoiLz48L3N2Zz4=");
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 2px;
  height: 17px;
  left: 20px;
  position: absolute;
  width: 4.5px;
  transform: translateZ(0) rotate(-90deg);
  transform-origin: 50% 15px 0;
}

/*
    SPEEDOMETER DIGITS
*/

.acceleration__speedometer__numbers {
  justify-self: start;
  display: flex;
  height: 36px;
  height: var(--tds-line_height--large);
  overflow: hidden;
}

.acceleration__speedometer__numbers > * {
  align-self: flex-start;
}

/*.acceleration__speedometer__numbers__digit {
  font-weight: 700;
  align-self: flex-start;
  transition: var(--cmp-speedometer-transition-property) var(--cmp-speedometer-duration) var(--cmp-speedometer-numbers-transition-timing-function);
}*/

.acceleration__speedometer__numbers__digit.animate {
  /*transform: translateY(0) translateZ(0);*/
  /*transform: translateY(var(--cmp-speedometer-fractional-translation));*/
}

.acceleration__speedometer__numbers__digit:first-child.animate {
  /*transform: translateY(0) translateZ(0);*/
  /*transform: translateY(var(--cmp-speedometer-integer-translation));*/
}


.vehicle__section__img,
.flex__section__img {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.--p-small {
  padding: 3rem 1rem;
}
.--p-medium {
  padding: 3rem;
}
@media (min-width: 992px) {
  .--p-small {
    padding: 3rem;
  }
}

.vehicle__section__text {
  text-align: center;
  padding: 6rem 2rem; 
}

.flex__section__text {
  padding: 4rem 1rem;  
}

.vehicle__section__text > .lead,
.flex__section__text > .lead {
  font-weight: 400;
}


@media (max-width: 991px) {
  .vehicle__section__img--last {
    display: none;
  }
}

@media (max-width: 991px) and (orientation: landscape) {
  .vehicle__section__img,
  .flex__section__img {
    width: 100%;
    height: 0;
    padding-top: 100vh;
  }
}

@media (max-width: 991px) and (orientation: portrait) {
  .vehicle__section__img,
  .flex__section__img {
    width: 100%;
    height: 0;
    padding-top: 66%;
  }
} 

@media (min-width: 992px) {
  .vehicle__section,
  .flex__section {
    display: flex;
  }

  .vehicle__section--reverse,
  .flex__section--reverse {
    flex-direction: row-reverse;    
  }

  .vehicle__section__img,
  .flex__section__img {
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }

  .vehicle__section__text,
  .flex__section__text {
    margin: auto;
    padding: 3rem;
  }

  .vehicle__section__img {
    flex: 2;
    flex-basis: 66%;
  }
  .vehicle__section__text {
    flex: 1;
    flex-basis: 34%;
  }
  .flex__section__img,
  .flex__section__text {
    flex: 1 1 50%;
  }
}


/*
    SLIDESHOW
*/

.slideshow { 
  position: relative;
  width: 100%;
  margin: 0 auto;
  transition: .5s;
}

/* Set all slides as absolute positioning so they will stack on top of each other, and hidden from one another */

.slideshow__slide { 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .5s;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

.slideshow__slide.active {
  opacity: 1;
  visibility: visible;
}

.slideshow__slide > img {
  width: 100%;
}

@media (min-width: 768px) {
  .slideshow,
  .slideshow__slide > img { 
    height: 100vh;
  }
  .slideshow__slide > img {
    object-fit: cover;
  }
}

/* Set up our basic left/right navigation */

.slideshow__nav { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 100;
}

.slideshow__nav > li {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  color: #ccc;
  font-size: 2rem;
  padding: 1rem;
  transition: all .3s;
}

.slideshow__nav > li:hover {
  color: #eee;
  background-color: rgba(255,255,255,.1);
}

/* Slideshow dots / indicators */
.slideshow__dots {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 1rem;
  z-index: 1000;
}
.slideshow__dots > li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}
.slideshow__dots > li.active {
  opacity: 1;
}





.swipe,
.swipe > div {
  display: flex;
  /*overflow: hidden;*/
}

.swipe > a,
.swipe > div > a {
  flex: 1 1 50%;
  cursor: pointer;
  position: relative;
  border-top: 4px solid var(--color-ecc);
  border-bottom: 4px solid var(--color-ecc);
}

.swipe__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  height: 100%;
  opacity: 0;
  transition: all 1s; /*cubic-bezier(0.61, -0.19, 0.7, -0.11);*/
}
.swipe__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  /*position: absolute;
  bottom: 0;
  left: 0;
  right: 0;*/
  background-color: var(--color-black);
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition: all 1s; /*cubic-bezier(0.61, -0.19, 0.7, -0.11);*/
}

.swipe__left {
  border-right: 2px solid var(--color-ecc);
}
.swipe__right {
  border-left: 2px solid var(--color-ecc);
}

.swipe__overlay__text {
  text-align: center;
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem ;
  text-shadow: 0 0 4px rgba(0, 0, 0, .72), 0 0 14px rgba(0, 0, 0, .45);
  transition: all 1s; /*cubic-bezier(0.61, -0.19, 0.7, -0.11);*/
}
.swipe__overlay__text > span {
  color: var(--color-ecc);
}

.swipe__left:hover > .swipe__bg,
.swipe__right:hover > .swipe__bg {
  opacity: 1;
}

.swipe__left:hover > .swipe__overlay,
.swipe__right:hover > .swipe__overlay {
  opacity: 0;
}

.swipe__left:hover > .swipe__overlay .swipe__overlay__text,
.swipe__right:hover > .swipe__overlay .swipe__overlay__text {
  scale: .9;
}


@media (min-width: 768px) {
  .swipe {
    min-height: 100vh;
  }
  .swipe__overlay__text {
    font-size: 2rem;
  }
}


.flex__section__text > ul {
  padding-left: 1rem;
  font-weight: 400;
}


/* https://stackoverflow.com/questions/10797632/simulate-background-sizecover-on-video-or-img */
.hero__vid {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
    z-index: 1;
    /*overflow: hidden;*/
}